{% load static %}
<html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible " content="ie=edge" />
    <title>Simple House Template</title>
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:400 '%}" rel="stylesheet" />-->
	<link href="{% static 'css/templatemo-style.css '%}" rel="stylesheet" />-->
</head>

<body>


		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to Shopping House</h2>
				<p class="col-12 text-center">----------------------------------------------------------------------------------</p><br>
				<li>Welcome {{user.username}}</a></li>-->
				{% if user.is_authenticated %}
				<li> <a href="accounts/logout">logout</a> </li>
				{% else %}
				<li><a href="accounts/register">Register</a> </li>
				<li><a href="accounts/login">Login</a> </li>
				{% endif %}
			</header>

			{% for result in results %}
			<div class="destination item">
				<div class="destination_image">
					<img src={{result.img.url}} alt="">
					<div class="spec_offer text-center"><a href="#">special offer</a> </div>
				</div>
				<div class="destination_content">
					<div class="destination_title"><a href="destination.html">{{result.name}}</a></div>
					<div class="destination_subtitle"><p>{{result.desc}}</p></div>
					<div class="destination_price">From ${{result.price}}</div>
				</div>
			</div>
           {% endfor %}

		</main>

		<footer class="tm-footer text-center">

		</footer>
	</div>
	<script src="{% static 'js/jquery.min.js '%}"></script>
	<script src="{% static 'js/parallax.min.js '%}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>